<div class="wrapper_div">
	<div class="center_div">
		<table>
			<thead>
			<tr class="row_odd">
				<th colspan="4"><h1 style="margin:20px">VIEW the Executive "Enablers" of Innovation</h1></th>
			</tr>
			</thead>
			<tbody>
		<% @enablers.each do |one_ena| %>
			<tr>
				<td><strong><%= one_ena.firstname %></strong>
				</td>
				<td><strong><%= one_ena.lastname %></strong>
				</td>
				<td><%= one_ena.jobtitle %></strong>
				</td>
				<td><%= one_ena.org %></strong>
				</td>
			</tr>
			<% end %>
			</tbody>
		</table>

		<br><br>
	</div>
</div>