/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
	background-color: #055154;
	color: #FFE1BE;
	font-family: 'Quattrocento', serif;
}
h1 {
	font-family: 'Quattrocento', serif;
	color: #F29001;
	font-size: 40px;
}

.text_field_width_short {
	width: 150px;
	font-size: 16px;
}

.text_field_width_medium {
	width: 400px;
	font-size: 16px;
}

.text_field_width_long {
	width: 450px;
	font-size: 16px;
}

.text_box_width_long {
	width: 500px;
	height: 200px;
	font-size: 16px;
}

table {
	background-color: #C7B29B;
	color: #457393;
	padding: 15px;
	font-weight: 700;
	border-collapse: collapse;
	width: 1016px;
}

td {
	vertical-align: top;
	padding: 10px 20px 10px 20px;
	text-align: left;
	font-size: 16px;
}

tr {
	background-color: #FFFAB1;
}

th {

}

div.wrapper_div {
	text-align: center;
}

div.center_div {
	display: inline-block;
}

tr.row_odd {
	background-color: #FFE87F;
}

.table_footer {
	text-align: left;
	font-weight: 700;
}

a {
	color: #F29001;
}

input {
	background-color: #157C7F;
	color: #FFFAB1;
	height: 24px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #FFFAB1;
    opacity: .75;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #FFFAB1;
   opacity: .75;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #FFFAB1;
   opacity: .75;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #FFFAB1;
   opacity: .75;
}