				<!-- <td><%=# link_to 'Show this Org', organization %></td> -->
        		<!-- <td><%=# link_to 'Edit', edit_organization_path(organization) %></td> -->
        		<!-- <td><%=# link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->